.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    display: none;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.open {
    display: flex;
}

.modal-wrapper {
    position: relative;
    width: 50%;
    height: auto;
    padding: 32px;
    background-color: #fff;
}

.modal-button {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-header {
    margin-bottom: 20px;
}